# Comments providers
NEXT_PUBLIC_GISCUS_REPO=
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=
NEXT_PUBLIC_GISCUS_CATEGORY=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
UTTERANCES_REPO=
DISQUS_SHORTNAME=
NEXT_PUBLIC_CREATE_DISCUS_ON_TWITTER=
NEXT_PUBLIC_CREATE_DISCUS_ON_GITHUB=
NEXT_PUBLIC_SHARE_ON_FACEBOOK=
NEXT_PUBLIC_SHARE_ON_TWITTER=

# Spotify (for fetching now playing track)
SPOTIFY_CLIENT_ID=b6122e5ff054463e80f68f0695602ba6
SPOTIFY_CLIENT_SECRET=1aed43a8da1c4702a2e68f91b4c77119
SPOTIFY_REFRESH_TOKEN=

# GitHub (for fetching repository's data in /projects page)
GITHUB_API_TOKEN=

# Database (for storing posts' views)
POSTGRES_URL=
