---
---

$themeColor: #ff0a16;
$primaryDark: #141414;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;


.bar-header .logo a {
    font-size: 2.5rem !important;
    font-weight: 700;
    font-family: 'Poppins';
}


@import "jekflix";